/********************************* LiveValidation *************************************/

.LV_valid {
	display: block;
	color:#477B00;
}

.LV_invalid {
	display: block;
	color:#DB2C36;
}

.LV_validation_message{
	font-weight:bold;
	margin:0 0 0 5px;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
	border: 1px solid #477B00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
	border: 1px solid #DB2C36;
}
/********************************* End LiveValidation *********************************/
.nav.nav-pills {
	margin: 2em 2em;
}
.tab-content {
	padding: 0 2em;
}
.input-prepend > .add-on > [class^='icon'] {
	display: inline-block;
	margin-top: 5px;
}
.datepicker {
	cursor: pointer;
}
.brand + div > span {
	color: #fff;
}
.logout > a {
	color: #fff;
}
table > tbody > tr {
	cursor: pointer;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 1200px) {

	/* ===============
		Maximal Width CSS3 Effects
	   =============== */

}

@media (min-width: 980px) and (max-width: 1199px) {

	/* ====================
		WIDE: CSS3 Effects
	   ==================== */


	/* ============
		WIDE: Menu
	   ============ */


	/* ============
		WIDE: Main
	   ============ */

}

@media (max-width: 979px) {
	#wrap > .container {
		padding-top: 0 !important;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	/* ====================
		INTERMEDIATE: CSS3 Effects
	   ==================== */
	.form-horizontal .control-label {
		width: 80px;
	}
	.form-horizontal .controls {
		margin-left: 95px;
	}

}

@media (max-width: 767px) {
	
}

@media (max-width: 480px) {
	/* ====================
		MINIMAL: CSS3 Effects
	   ==================== */
	.form-horizontal .control-label {
		width: 100%;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	/* ========================
		MINIMAL: IE Fixes
	   ======================== */
}

