/* Sticky footer styles
			-------------------------------------------------- */

html,
body {
	height: 100%;
	background-color: #e5e5e5
		/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
#wrap > .container {
	padding-top: 60px;
}
.brand + div > span {
	color: #fff;
}
.brand > img {
	width: 141px;
}
.container .credit {
	margin: 20px 0;
}
.drop-area#fields .drag-here, .drop-area#fields .drop-space {
	clear: both;
	position: relative;
	margin-bottom: 8px;
	border: 1px dashed #999999;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 6px;
	background: #eeeeee;
}
.drop-area li.drag-here.small {
	height: 45px;
}
.drop-area li.drag-here {
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid #d7d7d9;
	font-size: 1.1em;
	height: 105px;
	border: 1px dashed #999999;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #999999;
	background: #ececec;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.2em;
}
.drop-area li.drag-here {
	overflow: hidden;
	-webkit-transition: height 0.2s ease;
	-moz-transition: height 0.2s ease;
	transition: height 0.2s ease;
}
.drop-area li.field, .drop-area li.drag-here, .drop-area li.drop-space {
	clear: both;
	position: relative;
	height: 45px;
	margin-bottom: 8px;
	text-shadow: 0px 1px #ffffff;
}
.datepicker {
	cursor: pointer;
}
.form-signin {
	border: 1px solid #D8D8D8;
	border-bottom-width: 2px;
	border-top-width: 0;
	background-color: #FFF;
	max-width: 400px;
	min-width: 330px;
	padding: 19px 29px 29px;
	margin: 40px auto 20px;
	background-color: #fff;
	border: 1px solid #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.form-signin .form-signin-heading {
	font-size: 24px;
	font-weight: 300;
}
.input-prepend > .add-on > [class^='icon'] {
	display: inline-block;
	margin-top: 5px;
}
.logout > a {
	color: #fff;
}
/********************************* LiveValidation *************************************/

.LV_valid {
	display: block;
	color:#477B00;
}

.LV_invalid {
	display: block;
	color:#DB2C36;
}

.LV_validation_message{
	font-weight:bold;
	margin:0 0 0 5px;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
	border: 1px solid #477B00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
	border: 1px solid #DB2C36;
}
/********************************* End LiveValidation *********************************/
.nav.nav-pills {
	margin: 2em 2em;
}
.tab-content {
	padding: 0 2em;
}
table > tbody > tr {
	cursor: pointer;
}

/* ==========================================================================
   Scrollbar styling
   ========================================================================== */
::-webkit-scrollbar {
	width: 10px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-thumb {
	background-color: #757575;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
	background-color: rgba(144,144,144,0.1);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
	background-color: rgba(244,244,244,1);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 1200px) {

	/* ===============
		Maximal Width CSS3 Effects
	   =============== */

}

@media (min-width: 980px) and (max-width: 1199px) {

	/* ====================
		WIDE: CSS3 Effects
	   ==================== */


	/* ============
		WIDE: Menu
	   ============ */


	/* ============
		WIDE: Main
	   ============ */

}

@media (max-width: 979px) {
	#wrap > .container {
		padding-top: 0 !important;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	/* ====================
		INTERMEDIATE: CSS3 Effects
	   ==================== */
	.form-horizontal .control-label {
		width: 80px;
	}
	.form-horizontal .controls {
		margin-left: 95px;
	}

}

@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 480px) {
	/* ====================
		MINIMAL: CSS3 Effects
	   ==================== */
	.form-horizontal .control-label {
		width: 100%;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	/* ========================
		MINIMAL: IE Fixes
	   ======================== */
}
